<div class="span5">
  <a href= "/">
    <%= image_tag "common/rae_logo_guest.png", :size => "280", :style => 'display:block;margin:auto;margin-top:100px' %>
    <%= image_tag "common/slogan.png", :size => "280", :style => 'display:block;margin:auto' %>
  </a>
  <a href="/registrations/restaurant_new" class="base_brown" style="display: block;font-size: 18px;text-align: center;text-decoration: underline;color:blue;letter-spacing: 1px;margin-top: 20px">餐廳用戶註冊請點此</a>
</div>
<div class="span6">
  <div style="font-size: 25px;letter-spacing: 1px; margin-top: 50px">消費者註冊</div>
  <div style="font-size: 16px;color: #7F1700;letter-spacing: 1px;margin-top: 15px;margin-left: 3px">已有帳號，我要
    <a href="/sessions/booker_new" style="color: blue">登入</a>
  </div>
  <hr color="#D6D6D6" size="3" width="100%">

  <%= form_tag booker_create_path do %>

      <div style="float: left; font-size: 16px; width: 40%;line-height: 35px;text-align: right;">
        您的姓名：<br>
        帳號 ( E-Mail )：<br>
        手機號碼：<br>
        性別：<br>
        生日：<br>
        願意收到促銷訊息：<br>
        設定密碼：<br>
      </div>

      <div style="float: right; font-size: 16px; width: 60%; margin-bottom: 15px;line-height: 35px">
        <%= text_field_tag :tag_name, params[:tag_name], :required => true %>
        <%= text_field_tag :tag_email, params[:tag_email], :required => true %>
        <%= text_field_tag :tag_phone, params[:tag_phone], :required => true %>

        <br>
        <span class="from_for_radio">
            <label class="font_size_16"><%= radio_button_tag :tag_sex, '男', :checked => true %>男</label>
            <label class="font_size_16" style="margin-left: 5px"><%= radio_button_tag :tag_sex, '女' %>女</label>
        </span>
        <br>
        <span class="datetime">
            <%= date_select :tag_birthday, params[:tag_birthday],:start_year => 1911, :end_year => Date.today.year ,:style => 'padding-left:10px;'%>
        </span>
        <br>
        <span class="from_for_radio">
            <label class="font_size_16"><%= radio_button_tag :tag_allow_promot , 't', :checked => true %>是</label>
            <label class="font_size_16" style="margin-left: 5px"><%= radio_button_tag :tag_allow_promot, 'f' %>否</label>
        </span>
        <br>
        <%= password_field_tag :tag_password, nil, :required => true %>

        <label class="checkbox inline" style="font-size: 16px"><%= check_box_tag :tag_i_agree, 1, false, {required: 'required'} %>
          我同意
          <a href="/home/clause" target="_blank" class="base_brown" style="margin-left: 2px">訂吧條款</a>
        </label>
        <div><%= submit_tag "註冊帳號" , { :class => 'btn btn-primary',:disable_with => 'Processing...'} %></div>
      </div>

      <table width="100%">&nbsp;</table>
      <hr color="#D6D6D6" size="3" width="100%">

      <div style="font-size: 14px;letter-spacing: 1px;line-height: 24px">
        點擊「註冊帳號」的同時，<br>
        表示您同意接受我們的個人資料提供同意書以及使用條款，<br>
        也詳讀和完全了解我們的資料使用政策，<br>
        包括Cookie的使用，詳細資訊及內容請參考
        <a href="/home/clause" target="_blank" class="base_brown" style="margin-left: 2px">訂吧條款</a>
      </div>

  <% end %>
</div>

<script>
    $('form').submit(function(){
        return validate(this);
    });
</script>

