<%# stylesheet_link_tag 'home' %>

<div style="width: 500px">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:id => 'devise_edit', :method => :put }) do |f| %>
    <div style="float: left;width: 200px;font-size: 16px; line-height:40px;text-align: right;padding-right: 5px">
      <input type="hidden" name="from" value="<%= @from %>" />
      帳號 ( E-Mail )：</br>
      姓名：</br>
      手機：</br>
      性別：</br>
      生日：</br>
      是否願意收到促銷訊息：</br>
      <% if resource.provider.blank? %>
        新密碼：</br>
        確認新密碼：</br>
        驗證碼 ( 目前密碼 )：
      <% end %>
    </div>

    <div style="float: left;width: 250px;font-size: 16px; line-height:40px">
      <%= f.email_field :email, :autofocus => false, :disabled=>"disabled", :style => 'padding-left:10px' %>
      <%= f.text_field :name, :style => 'padding-left:10px' %>
      <%= f.text_field :phone, :style => 'padding-left:10px' %>

      <span class="from_for_radio">
        <label class="font_size_16"><%= f.radio_button :sex, '男', :checked => true %>男</label>
        <label class="font_size_16" style="margin-left: 5px"><%= f.radio_button :sex, '女' %>女</label>
      </span>
      <br>
      <span class="datetime">
        <%= f.date_select :birthday,:start_year => 1911, :end_year => Date.today.year ,:style => 'padding-left:10px;'%>
      </span>
      <br>
      <span class="from_for_radio">
        <label class="font_size_16"><%= f.radio_button :allow_promot, 't', :checked => true %>是</label>
        <label class="font_size_16" style="margin-left: 5px"><%= f.radio_button :allow_promot, 'f' %>否</label>
      </span>

      <% if resource.provider.blank? %>
        <%= f.password_field :password, :autocomplete => "off", :placeholder => '沒有要修改密碼請留空', :style => 'padding-left:10px' %>
        <%= f.password_field :password_confirmation, :placeholder => '沒有要修改密碼請留空', :style => 'padding-left:10px' %>
        <%= f.password_field :current_password, :placeholder => '修改資料必填欄位', :style => 'padding-left:10px' %>
      <% else %>
         <br>
      <% end %>

      <%= f.submit "確認修改" , :class => 'btn btn-primary' %>
      <input class="btn" type="reset" value="清除">
    </div>

<% end %>


</div>

<% if @is_booker %>
  <table style="width: 100%"></table>
<% end %>


<script>
  $('form').submit(function(){
    //return validate(this);
  });
</script>





