<tr class="form delete">
  <td colspan="8">
    <div id="wrapper">
      <%= form_for :booking ,:url => "restaurant_manage/cancel_booking", :html => {:id => 'cancel_booking'} do |f| %>
        <%= f.hidden_field :id %>
        <div class="base_blue" style="font-size: 16px; margin: 6px 0">訂位取消</div>
        <table class="table">
          <colgroup>
            <col style="width: 29%;">
            <col style="width: 57%;">
            <col style="width: 14%;">
          </colgroup>
          <tr>
            <td><label class="radio inline"><%= f.radio_button :status, "2", checked: @booking.status == '2' %> 同伴無法配合</label></td>
            <td><label class="radio inline"><%= f.radio_button :status, "3", checked: @booking.status == '3' %> 餐廳當天座位不夠</label></td>
            <td></td>
          </tr>
          <tr>
            <td><label class="radio inline"><%= f.radio_button :status, "4", checked: @booking.status == '4' %> 選擇了其他餐廳</label></td>
            <td><label class="radio inline"><%= f.radio_button :status, "5", checked: @booking.status == '5' %> 餐廳臨時公休</label></td>
            <td></td>
          </tr>
          <tr>
            <td><label class="radio inline"><%= f.radio_button :status, "6", checked: @booking.status == '6' %> 聚餐延期</label></td>
            <td>
              <label class="radio inline"><%= f.radio_button :status, "7", checked: @booking.status == '7' %> 其他</label>
              <%= f.text_field :cancel_note, :placeholder => '請輸入' %>
            </td>
            <td><input type="submit" value="訂位取消" class="btn btn-primary"></td>
          </tr>
        </table>
      <% end %>
    </div>
  </td>
</tr>