<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!DOCTYPE html>
<html>
<head>
  <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
  <meta charset="UTF-8">
  <title>訂吧-24HR餐廳網路訂位平台</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'home_index', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js"></script>
  <link rel="stylesheet" href="/camera/camera.css" type="text/css" media="all" />
  <script type="text/javascript" src="/camera/camera.min.js"></script>
  <script type="text/javascript" src="/camera/jquery.easing.1.3.js"></script>
  <style type="text/css">
      a:link {
          color: #333;
          text-decoration: none;
      }
      a:visited {
          text-decoration: none;
          color: #666;
      }
      a:hover {
          text-decoration: none;
          color: #C00;
      }
      a:active {
          text-decoration: none;
      }
      body,td,th {
          font-family: Times New Roman, Times, serif;
      }
      body {
          margin-top: 0px;
          background-color: #F1E4D8;
      }
  </style>
  <script type="text/javascript">
      function MM_preloadImages() { //v3.0
          var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
              var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
                  if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
      }
      function MM_swapImgRestore() { //v3.0
          var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
      }
      function MM_findObj(n, d) { //v4.01
          var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
              d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
          if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
          for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
          if(!x && d.getElementById) x=d.getElementById(n); return x;
      }

      function MM_swapImage() { //v3.0
          var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
              if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
      }
  </script>

  <!-- UserVoice JavaScript SDK (only needed once on a page) -->
  <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/sF5ldGsjGJoCOLJrdnsA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

  <!-- A tab to launch the Classic Widget -->
  <script>
      UserVoice = window.UserVoice || [];
      UserVoice.push(['showTab', 'classic_widget', {
          mode: 'full',
          primary_color: '#ad0741',
          link_color: '#007dbf',
          default_mode: 'support',
          forum_id: 241700,
          topic_id: 49849,
          tab_label: '線上客服',
          tab_color: '#910515',
          tab_position: 'middle-left',
          tab_inverted: false
      }]);
  </script>

</head>

<body onload="MM_preloadImages('/assets/home_index/goto_up.png','/assets/home_index/facebook_35.png','/assets/home_index/facebook_37.png','/assets/home_index/facebook_39.png')">

<% if alert %>
    <script type="text/javascript">alert("<%= alert %>");</script>
<% end %>
<%= yield %>
</body>
</html>

<script>

    $('#get_invite_code').click(function(){
        var nzData = '/home/get_invite_code';

        $.get(nzData, function(html) {
            $.fancybox({
                content: html,
                width: 400,
                padding: 20,
                helpers: {
                    overlay: {
                        locked: false
                    },
                    title: null
                }
            });
        });
    });

</script>